body {
    background-color: rgb(43, 226, 107) ;
}

.title {
    background-color: yellow;
    color: black;
    border-bottom: 1px solid;
    text-align: center;
}

.h2 {
    color: black;
    border-bottom: 1px solid;
    width: 70%;
}
